button{
    background-image: linear-gradient(0.15turn,rgb(89, 249, 255), rgb(164, 67, 255));
    width: 50%;
    height: 5%;
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

button:hover{
    cursor: pointer;
}

button:focus{
    outline: 0;
}