.container{
    width: 25%;
    height: 70%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 900px) {
    .container{
        width: 40%;
    }
}